.App-logo {
  margin-left: 10px;
  width: 140px;
  height: 40px;
}

.App-header {
  position: relative;
  background-color: #f56b2a;
  height: 60px;
  color: white;
}

.App-intro {
  font-size: large;
}

.center-h {
}

.center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
